USE [master]
GO
/****** Object:  Database [BTRS_Db]    Script Date: 18-Sep-19 4:52:44 PM ******/
CREATE DATABASE [BTRS_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTRS_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BTRS_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTRS_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BTRS_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTRS_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTRS_Db]
GO
USE [BTRS_Db]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 18-Sep-19 4:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[no] [char](5) NOT NULL,
	[type] [int] NULL,
	[total_capacity] [int] NULL,
	[avail_seat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Counter]    Script Date: 18-Sep-19 4:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Counter](
	[counter_name] [varchar](10) NOT NULL,
	[bus_no] [char](5) NOT NULL,
	[time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[counter_name] ASC,
	[bus_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Type]    Script Date: 18-Sep-19 4:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[counter]    Script Date: 18-Sep-19 4:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[counter](
	[name] [varchar](10) NOT NULL,
	[location] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 18-Sep-19 4:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger](
	[ticket_no] [int] NOT NULL,
	[full_name] [varchar](20) NULL,
	[phone_no] [char](11) NULL,
	[bus_no] [char](5) NOT NULL,
	[start_loc] [varchar](10) NULL,
	[end_loc] [varchar](10) NULL,
	[seat_length] [int] NULL,
	[counter] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_no] ASC,
	[bus_no] ASC,
	[counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18-Sep-19 4:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18-Sep-19 4:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](20) NULL,
	[password] [varchar](20) NULL,
	[phone_no] [char](11) NULL,
	[counter] [varchar](10) NULL,
	[role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD FOREIGN KEY([type])
REFERENCES [dbo].[Bus_Type] ([id])
GO
ALTER TABLE [dbo].[Bus_Counter]  WITH CHECK ADD FOREIGN KEY([bus_no])
REFERENCES [dbo].[Bus] ([no])
GO
ALTER TABLE [dbo].[Bus_Counter]  WITH CHECK ADD FOREIGN KEY([counter_name])
REFERENCES [dbo].[counter] ([name])
GO
ALTER TABLE [dbo].[Passenger]  WITH CHECK ADD FOREIGN KEY([bus_no])
REFERENCES [dbo].[Bus] ([no])
GO
ALTER TABLE [dbo].[Passenger]  WITH CHECK ADD FOREIGN KEY([counter])
REFERENCES [dbo].[counter] ([name])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([counter])
REFERENCES [dbo].[counter] ([name])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([id])
GO
USE [master]
GO
