<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BTRS_Db" connectionString="Data Source=mad-coder\SQLEXPRESS;Initial Catalog=BTRS_Db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BusReservationSystem.Properties.Settings.BTRS_DbConnectionString"
      connectionString="Data Source=mad-coder\sqlexpress;Initial Catalog=BTRS_Db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>